body, html {
    height: 100%;
}

.bg {
  /*Background image*/
  background-image: url("theboyz.jpg");
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
    color: white;
    text-align: center;
  }
h2 {
    color: white;
    text-align: center;
  }
p {
   color: white;
   text-align: center;
   text-transform: lowercase
  }
  

