body {
  /*Background image*/
  background-image: url("theboyz.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
    color: white;
    text-align: center;
  }
h2 {
    color: white;
    text-align: center;
  }
p {
    color: white;
    text-align: center;
  }
  

